{
  "openapi": "3.0.3",
  "info": {
    "title": "West Kowloon Website API Inventory",
    "version": "2026-06-22",
    "description": "Generated from current SPA static analysis, Playwright crawl, local registry, and redacted HAR evidence."
  },
  "servers": [
    {
      "url": "https://anticket.lengliwh.com"
    }
  ],
  "paths": {
    "/ucenter/captcha.xhtml": {
      "get": {
        "summary": "静态包发现，未在本次抓包中拿到业务说明",
        "tags": [
          "auth"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_playwright_crawl",
          "current_spa_static"
        ],
        "x-evidence-status": "observed",
        "x-schema-status": "requestShapeOnly",
        "x-load-test-level": "Do Not Load Test",
        "x-jmeter-scope": "exclude",
        "x-risk-level": "high",
        "x-verification-status": "observed",
        "x-recommendation-reason": "验证码、登录、支付、退款、上传、实名/注销或账号绑定类接口，不建议直接压测。",
        "parameters": [
          {
            "name": "captchaId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "***REDACTED***"
          },
          {
            "name": "r",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1782122352227"
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "image/avif,image/webp,image/apng,image/svg+xml,image/*,*/*;q=0.8"
          }
        ],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/ucenter/getCaptchaId.xhtml": {
      "get": {
        "summary": "Issues a captcha session id used by login / register flows.",
        "tags": [
          "auth"
        ],
        "x-auth-required": false,
        "x-source": [
          "local_wk_endpoints_registry"
        ],
        "x-evidence-status": "registeredOnly",
        "x-schema-status": "schemaUnknown",
        "x-load-test-level": "Do Not Load Test",
        "x-jmeter-scope": "exclude",
        "x-risk-level": "high",
        "x-verification-status": "registered",
        "x-recommendation-reason": "验证码、登录、支付、退款、上传、实名/注销或账号绑定类接口，不建议直接压测。",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      },
      "post": {
        "summary": "获取验证码会话 ID",
        "tags": [
          "auth"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_playwright_crawl",
          "current_spa_static_template",
          "legacy_anticket_har"
        ],
        "x-evidence-status": "observed",
        "x-schema-status": "observedResponseSample",
        "x-load-test-level": "Do Not Load Test",
        "x-jmeter-scope": "exclude",
        "x-risk-level": "high",
        "x-verification-status": "observed",
        "x-recommendation-reason": "验证码、登录、支付、退款、上传、实名/注销或账号绑定类接口，不建议直接压测。",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "application/json, text/plain, */*"
          },
          {
            "name": "cmpappkey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ShanghaiCS"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "application/x-www-form-urlencoded;charset=UTF-8"
          },
          {
            "name": "lang",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errcode": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "string",
                      "example": "uWp6gifrXtDwgupw94c8e4bb"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  },
                  "example": {
                    "errcode": "0000",
                    "data": "uWp6gifrXtDwgupw94c8e4bb",
                    "success": true
                  }
                },
                "example": {
                  "errcode": "0000",
                  "data": "uWp6gifrXtDwgupw94c8e4bb",
                  "success": true
                }
              }
            }
          }
        }
      }
    },
    "/ucenter/guest/createAndLogin.xhtml": {
      "post": {
        "summary": "游客账号创建并登录",
        "tags": [
          "auth"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_spa_static"
        ],
        "x-evidence-status": "staticOnly",
        "x-schema-status": "requestShapeOnly",
        "x-load-test-level": "Do Not Load Test",
        "x-jmeter-scope": "exclude",
        "x-risk-level": "high",
        "x-verification-status": "static_only",
        "x-recommendation-reason": "验证码、登录、支付、退款、上传、实名/注销或账号绑定类接口，不建议直接压测。",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "example": null
                },
                "example": null
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "_front_end_data_object": {
                    "type": "string",
                    "example": "静态推断；需按实际游客登录/绑定流程补字段"
                  }
                },
                "example": {
                  "_front_end_data_object": "静态推断；需按实际游客登录/绑定流程补字段"
                }
              },
              "example": {
                "_front_end_data_object": "静态推断；需按实际游客登录/绑定流程补字段"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "_front_end_data_object": {
                    "type": "string",
                    "example": "静态推断；需按实际游客登录/绑定流程补字段"
                  }
                },
                "example": {
                  "_front_end_data_object": "静态推断；需按实际游客登录/绑定流程补字段"
                }
              },
              "example": {
                "_front_end_data_object": "静态推断；需按实际游客登录/绑定流程补字段"
              }
            }
          }
        }
      }
    },
    "/ucenter/member/bindEmail.xhtml": {
      "post": {
        "summary": "静态包发现，未在本次抓包中拿到业务说明",
        "tags": [
          "auth"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_spa_static_template"
        ],
        "x-evidence-status": "staticOnly",
        "x-schema-status": "schemaUnknown",
        "x-load-test-level": "Do Not Load Test",
        "x-jmeter-scope": "exclude",
        "x-risk-level": "high",
        "x-verification-status": "static_only",
        "x-recommendation-reason": "仅静态发现且像写操作/副作用接口，先人工确认业务影响。",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/ucenter/member/bindMobile.xhtml": {
      "post": {
        "summary": "静态包发现，未在本次抓包中拿到业务说明",
        "tags": [
          "auth"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_spa_static_template"
        ],
        "x-evidence-status": "staticOnly",
        "x-schema-status": "schemaUnknown",
        "x-load-test-level": "Do Not Load Test",
        "x-jmeter-scope": "exclude",
        "x-risk-level": "high",
        "x-verification-status": "static_only",
        "x-recommendation-reason": "仅静态发现且像写操作/副作用接口，先人工确认业务影响。",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/ucenter/member/bindWxUserInfo.xhtml": {
      "post": {
        "summary": "绑定微信用户信息",
        "tags": [
          "auth"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_spa_static"
        ],
        "x-evidence-status": "staticOnly",
        "x-schema-status": "requestShapeOnly",
        "x-load-test-level": "Do Not Load Test",
        "x-jmeter-scope": "exclude",
        "x-risk-level": "high",
        "x-verification-status": "static_only",
        "x-recommendation-reason": "验证码、登录、支付、退款、上传、实名/注销或账号绑定类接口，不建议直接压测。",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "example": null
                },
                "example": null
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "_front_end_data_object": {
                    "type": "string",
                    "example": "静态推断；需按微信绑定流程补字段"
                  }
                },
                "example": {
                  "_front_end_data_object": "静态推断；需按微信绑定流程补字段"
                }
              },
              "example": {
                "_front_end_data_object": "静态推断；需按微信绑定流程补字段"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "_front_end_data_object": {
                    "type": "string",
                    "example": "静态推断；需按微信绑定流程补字段"
                  }
                },
                "example": {
                  "_front_end_data_object": "静态推断；需按微信绑定流程补字段"
                }
              },
              "example": {
                "_front_end_data_object": "静态推断；需按微信绑定流程补字段"
              }
            }
          }
        }
      }
    },
    "/ucenter/member/getUpHeadToken.xhtml": {
      "get": {
        "summary": "获取头像/图片上传 token",
        "tags": [
          "auth"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_spa_static"
        ],
        "x-evidence-status": "staticOnly",
        "x-schema-status": "schemaUnknown",
        "x-load-test-level": "Do Not Load Test",
        "x-jmeter-scope": "exclude",
        "x-risk-level": "high",
        "x-verification-status": "static_only",
        "x-recommendation-reason": "验证码、登录、支付、退款、上传、实名/注销或账号绑定类接口，不建议直接压测。",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/ucenter/member/globalConfig/telephoneCountryCodes.xhtml": {
      "get": {
        "summary": "Returns the list of supported country codes shown in the phone dropdown.",
        "tags": [
          "auth"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_playwright_crawl",
          "current_spa_static",
          "legacy_anticket_har",
          "local_wk_endpoints_registry"
        ],
        "x-evidence-status": "observed",
        "x-schema-status": "observedResponseSample",
        "x-load-test-level": "Ready",
        "x-jmeter-scope": "single_api",
        "x-risk-level": "low",
        "x-verification-status": "observed",
        "x-recommendation-reason": "已有真实抓包样例，且看起来是查询类接口，适合作为单接口压测候选。",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "application/json, text/plain, */*"
          },
          {
            "name": "cmpappkey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ShanghaiCS"
          },
          {
            "name": "lang",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errcode": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "regionCode": {
                            "type": "string",
                            "example": "CN"
                          },
                          "regionName": {
                            "type": "string",
                            "example": "中国大陆"
                          },
                          "telephoneCountryCode": {
                            "type": "string",
                            "example": "***REDACTED***"
                          },
                          "initial": {
                            "type": "string",
                            "example": "Z"
                          },
                          "popular": {
                            "type": "string",
                            "example": "Y"
                          }
                        },
                        "example": {
                          "regionCode": "CN",
                          "regionName": "中国大陆",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "Z",
                          "popular": "Y"
                        }
                      },
                      "example": [
                        {
                          "regionCode": "CN",
                          "regionName": "中国大陆",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "Z",
                          "popular": "Y"
                        },
                        {
                          "regionCode": "HK",
                          "regionName": "中国香港",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "X",
                          "popular": "Y"
                        },
                        {
                          "regionCode": "MO",
                          "regionName": "中国澳门",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "A",
                          "popular": "Y"
                        },
                        {
                          "regionCode": "TW",
                          "regionName": "中国台湾",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "T",
                          "popular": "Y"
                        },
                        {
                          "regionCode": "US",
                          "regionName": "美国",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "M",
                          "popular": "Y"
                        },
                        {
                          "regionCode": "IN",
                          "regionName": "印度",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "Y"
                        },
                        {
                          "regionCode": "GB",
                          "regionName": "英国",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "Y"
                        },
                        {
                          "regionCode": "DE",
                          "regionName": "德国",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "D"
                        },
                        {
                          "regionCode": "FR",
                          "regionName": "法国",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "F"
                        },
                        {
                          "regionCode": "JP",
                          "regionName": "日本",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "R"
                        },
                        {
                          "regionCode": "RU",
                          "regionName": "俄罗斯",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "E"
                        },
                        {
                          "regionCode": "CA",
                          "regionName": "加拿大",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "J"
                        },
                        {
                          "regionCode": "AU",
                          "regionName": "澳大利亚",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "A"
                        },
                        {
                          "regionCode": "BR",
                          "regionName": "巴西",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "B"
                        },
                        {
                          "regionCode": "ZA",
                          "regionName": "南非",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "N"
                        },
                        {
                          "regionCode": "KR",
                          "regionName": "韩国",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "H"
                        },
                        {
                          "regionCode": "AR",
                          "regionName": "阿根廷",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "A"
                        },
                        {
                          "regionCode": "IT",
                          "regionName": "意大利",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "Y"
                        },
                        {
                          "regionCode": "MX",
                          "regionName": "墨西哥",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "M"
                        },
                        {
                          "regionCode": "SE",
                          "regionName": "瑞典",
                          "telephoneCountryCode": "***REDACTED***",
                          "initial": "S"
                        }
                      ]
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  },
                  "example": {
                    "errcode": "0000",
                    "data": [
                      {
                        "regionCode": "CN",
                        "regionName": "中国大陆",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "Z",
                        "popular": "Y"
                      },
                      {
                        "regionCode": "HK",
                        "regionName": "中国香港",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "X",
                        "popular": "Y"
                      },
                      {
                        "regionCode": "MO",
                        "regionName": "中国澳门",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "A",
                        "popular": "Y"
                      },
                      {
                        "regionCode": "TW",
                        "regionName": "中国台湾",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "T",
                        "popular": "Y"
                      },
                      {
                        "regionCode": "US",
                        "regionName": "美国",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "M",
                        "popular": "Y"
                      },
                      {
                        "regionCode": "IN",
                        "regionName": "印度",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "Y"
                      },
                      {
                        "regionCode": "GB",
                        "regionName": "英国",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "Y"
                      },
                      {
                        "regionCode": "DE",
                        "regionName": "德国",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "D"
                      },
                      {
                        "regionCode": "FR",
                        "regionName": "法国",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "F"
                      },
                      {
                        "regionCode": "JP",
                        "regionName": "日本",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "R"
                      },
                      {
                        "regionCode": "RU",
                        "regionName": "俄罗斯",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "E"
                      },
                      {
                        "regionCode": "CA",
                        "regionName": "加拿大",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "J"
                      },
                      {
                        "regionCode": "AU",
                        "regionName": "澳大利亚",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "A"
                      },
                      {
                        "regionCode": "BR",
                        "regionName": "巴西",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "B"
                      },
                      {
                        "regionCode": "ZA",
                        "regionName": "南非",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "N"
                      },
                      {
                        "regionCode": "KR",
                        "regionName": "韩国",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "H"
                      },
                      {
                        "regionCode": "AR",
                        "regionName": "阿根廷",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "A"
                      },
                      {
                        "regionCode": "IT",
                        "regionName": "意大利",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "Y"
                      },
                      {
                        "regionCode": "MX",
                        "regionName": "墨西哥",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "M"
                      },
                      {
                        "regionCode": "SE",
                        "regionName": "瑞典",
                        "telephoneCountryCode": "***REDACTED***",
                        "initial": "S"
                      }
                    ],
                    "success": true
                  }
                },
                "example": {
                  "errcode": "0000",
                  "data": [
                    {
                      "regionCode": "CN",
                      "regionName": "中国大陆",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "Z",
                      "popular": "Y"
                    },
                    {
                      "regionCode": "HK",
                      "regionName": "中国香港",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "X",
                      "popular": "Y"
                    },
                    {
                      "regionCode": "MO",
                      "regionName": "中国澳门",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "A",
                      "popular": "Y"
                    },
                    {
                      "regionCode": "TW",
                      "regionName": "中国台湾",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "T",
                      "popular": "Y"
                    },
                    {
                      "regionCode": "US",
                      "regionName": "美国",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "M",
                      "popular": "Y"
                    },
                    {
                      "regionCode": "IN",
                      "regionName": "印度",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "Y"
                    },
                    {
                      "regionCode": "GB",
                      "regionName": "英国",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "Y"
                    },
                    {
                      "regionCode": "DE",
                      "regionName": "德国",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "D"
                    },
                    {
                      "regionCode": "FR",
                      "regionName": "法国",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "F"
                    },
                    {
                      "regionCode": "JP",
                      "regionName": "日本",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "R"
                    },
                    {
                      "regionCode": "RU",
                      "regionName": "俄罗斯",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "E"
                    },
                    {
                      "regionCode": "CA",
                      "regionName": "加拿大",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "J"
                    },
                    {
                      "regionCode": "AU",
                      "regionName": "澳大利亚",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "A"
                    },
                    {
                      "regionCode": "BR",
                      "regionName": "巴西",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "B"
                    },
                    {
                      "regionCode": "ZA",
                      "regionName": "南非",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "N"
                    },
                    {
                      "regionCode": "KR",
                      "regionName": "韩国",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "H"
                    },
                    {
                      "regionCode": "AR",
                      "regionName": "阿根廷",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "A"
                    },
                    {
                      "regionCode": "IT",
                      "regionName": "意大利",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "Y"
                    },
                    {
                      "regionCode": "MX",
                      "regionName": "墨西哥",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "M"
                    },
                    {
                      "regionCode": "SE",
                      "regionName": "瑞典",
                      "telephoneCountryCode": "***REDACTED***",
                      "initial": "S"
                    }
                  ],
                  "success": true
                }
              }
            }
          }
        }
      }
    },
    "/ucenter/openapi/openlogin/getAuthUrl.xhtml": {
      "get": {
        "summary": "静态包发现，未在本次抓包中拿到业务说明",
        "tags": [
          "auth"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_spa_static_template"
        ],
        "x-evidence-status": "staticOnly",
        "x-schema-status": "schemaUnknown",
        "x-load-test-level": "Do Not Load Test",
        "x-jmeter-scope": "exclude",
        "x-risk-level": "high",
        "x-verification-status": "static_only",
        "x-recommendation-reason": "验证码、登录、支付、退款、上传、实名/注销或账号绑定类接口，不建议直接压测。",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/ucenter/openapi/openlogin/pollResult.xhtml": {
      "post": {
        "summary": "静态包发现，未在本次抓包中拿到业务说明",
        "tags": [
          "auth"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_spa_static_template"
        ],
        "x-evidence-status": "staticOnly",
        "x-schema-status": "schemaUnknown",
        "x-load-test-level": "Do Not Load Test",
        "x-jmeter-scope": "exclude",
        "x-risk-level": "high",
        "x-verification-status": "static_only",
        "x-recommendation-reason": "验证码、登录、支付、退款、上传、实名/注销或账号绑定类接口，不建议直接压测。",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/ucenter/rest/createAndLoginWithBindEmail.xhtml": {
      "post": {
        "summary": "创建/保存相关接口",
        "tags": [
          "auth"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_spa_static_template"
        ],
        "x-evidence-status": "staticOnly",
        "x-schema-status": "schemaUnknown",
        "x-load-test-level": "Do Not Load Test",
        "x-jmeter-scope": "exclude",
        "x-risk-level": "high",
        "x-verification-status": "static_only",
        "x-recommendation-reason": "验证码、登录、支付、退款、上传、实名/注销或账号绑定类接口，不建议直接压测。",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/ucenter/rest/createAndLoginWithBindMobile.xhtml": {
      "post": {
        "summary": "创建/保存相关接口",
        "tags": [
          "auth"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_spa_static_template"
        ],
        "x-evidence-status": "staticOnly",
        "x-schema-status": "schemaUnknown",
        "x-load-test-level": "Do Not Load Test",
        "x-jmeter-scope": "exclude",
        "x-risk-level": "high",
        "x-verification-status": "static_only",
        "x-recommendation-reason": "验证码、登录、支付、退款、上传、实名/注销或账号绑定类接口，不建议直接压测。",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/ucenter/rest/getLogonInfo.xhtml": {
      "post": {
        "summary": "获取当前登录会员信息",
        "tags": [
          "auth"
        ],
        "x-auth-required": true,
        "x-source": [
          "current_playwright_crawl",
          "legacy_anticket_har"
        ],
        "x-evidence-status": "observed",
        "x-schema-status": "observedResponseSample",
        "x-load-test-level": "Scenario Ready",
        "x-jmeter-scope": "scenario",
        "x-risk-level": "medium",
        "x-verification-status": "observed",
        "x-recommendation-reason": "已有真实样例但有副作用，应放在受控业务场景中执行。",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "application/json, text/plain, */*"
          },
          {
            "name": "cmpappkey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ShanghaiCS"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "application/x-www-form-urlencoded;charset=UTF-8"
          },
          {
            "name": "lang",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errcode": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 56577659601
                        },
                        "nickname": {
                          "type": "string",
                          "example": "***REDACTED***"
                        },
                        "headpic": {
                          "nullable": true,
                          "example": null
                        },
                        "bindMobile": {
                          "type": "string",
                          "example": "***REDACTED***"
                        },
                        "bindEmail": {
                          "type": "string",
                          "example": "***REDACTED***"
                        },
                        "gender": {
                          "nullable": true,
                          "example": null
                        },
                        "mobile": {
                          "nullable": true,
                          "example": null
                        },
                        "appkey": {
                          "nullable": true,
                          "example": null
                        },
                        "email": {
                          "type": "string",
                          "example": "***REDACTED***"
                        },
                        "memberEncode": {
                          "type": "string",
                          "example": "Ko_dVa-rQDrapG2Ymz7pu9eMzlVrFqmi291flsU8oIjeGgX4Fu0CD_Uay04WXJPl@0a152d0a"
                        }
                      },
                      "example": {
                        "id": 56577659601,
                        "nickname": "***REDACTED***",
                        "headpic": null,
                        "bindMobile": "***REDACTED***",
                        "bindEmail": "***REDACTED***",
                        "gender": null,
                        "mobile": null,
                        "appkey": null,
                        "email": "***REDACTED***",
                        "memberEncode": "Ko_dVa-rQDrapG2Ymz7pu9eMzlVrFqmi291flsU8oIjeGgX4Fu0CD_Uay04WXJPl@0a152d0a"
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  },
                  "example": {
                    "errcode": "0000",
                    "data": {
                      "id": 56577659601,
                      "nickname": "***REDACTED***",
                      "headpic": null,
                      "bindMobile": "***REDACTED***",
                      "bindEmail": "***REDACTED***",
                      "gender": null,
                      "mobile": null,
                      "appkey": null,
                      "email": "***REDACTED***",
                      "memberEncode": "Ko_dVa-rQDrapG2Ymz7pu9eMzlVrFqmi291flsU8oIjeGgX4Fu0CD_Uay04WXJPl@0a152d0a"
                    },
                    "success": true
                  }
                },
                "example": {
                  "errcode": "0000",
                  "data": {
                    "id": 56577659601,
                    "nickname": "***REDACTED***",
                    "headpic": null,
                    "bindMobile": "***REDACTED***",
                    "bindEmail": "***REDACTED***",
                    "gender": null,
                    "mobile": null,
                    "appkey": null,
                    "email": "***REDACTED***",
                    "memberEncode": "Ko_dVa-rQDrapG2Ymz7pu9eMzlVrFqmi291flsU8oIjeGgX4Fu0CD_Uay04WXJPl@0a152d0a"
                  },
                  "success": true
                }
              }
            }
          }
        }
      }
    },
    "/ucenter/rest/logout.xhtml": {
      "get": {
        "summary": "Logout endpoint.",
        "tags": [
          "auth"
        ],
        "x-auth-required": false,
        "x-source": [
          "local_wk_endpoints_registry"
        ],
        "x-evidence-status": "registeredOnly",
        "x-schema-status": "schemaUnknown",
        "x-load-test-level": "Do Not Load Test",
        "x-jmeter-scope": "exclude",
        "x-risk-level": "high",
        "x-verification-status": "registered",
        "x-recommendation-reason": "验证码、登录、支付、退款、上传、实名/注销或账号绑定类接口，不建议直接压测。",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      },
      "post": {
        "summary": "静态包发现，未在本次抓包中拿到业务说明",
        "tags": [
          "auth"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_spa_static_template"
        ],
        "x-evidence-status": "staticOnly",
        "x-schema-status": "schemaUnknown",
        "x-load-test-level": "Do Not Load Test",
        "x-jmeter-scope": "exclude",
        "x-risk-level": "high",
        "x-verification-status": "static_only",
        "x-recommendation-reason": "验证码、登录、支付、退款、上传、实名/注销或账号绑定类接口，不建议直接压测。",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/ucenter/rest/pcLoginByPass.xhtml": {
      "post": {
        "summary": "账号密码登录，带图片验证码",
        "tags": [
          "auth"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_playwright_crawl",
          "current_spa_static_template",
          "legacy_anticket_har"
        ],
        "x-evidence-status": "observed",
        "x-schema-status": "observedResponseSample",
        "x-load-test-level": "Do Not Load Test",
        "x-jmeter-scope": "exclude",
        "x-risk-level": "high",
        "x-verification-status": "observed",
        "x-recommendation-reason": "验证码、登录、支付、退款、上传、实名/注销或账号绑定类接口，不建议直接压测。",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "application/json, text/plain, */*"
          },
          {
            "name": "cmpappkey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ShanghaiCS"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "application/x-www-form-urlencoded"
          },
          {
            "name": "lang",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errcode": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 56577659601
                        },
                        "nickname": {
                          "type": "string",
                          "example": "***REDACTED***"
                        },
                        "headpic": {
                          "nullable": true,
                          "example": null
                        },
                        "bindMobile": {
                          "type": "string",
                          "example": "***REDACTED***"
                        },
                        "bindEmail": {
                          "type": "string",
                          "example": "***REDACTED***"
                        },
                        "gender": {
                          "nullable": true,
                          "example": null
                        },
                        "mobile": {
                          "nullable": true,
                          "example": null
                        },
                        "appkey": {
                          "nullable": true,
                          "example": null
                        },
                        "email": {
                          "type": "string",
                          "example": "***REDACTED***"
                        },
                        "memberEncode": {
                          "type": "string",
                          "example": "Ko_dVa-rQDrapG2Ymz7pu9eMzlVrFqmi291flsU8oIjeGgX4Fu0CD_Uay04WXJPl@0a152d0a"
                        }
                      },
                      "example": {
                        "id": 56577659601,
                        "nickname": "***REDACTED***",
                        "headpic": null,
                        "bindMobile": "***REDACTED***",
                        "bindEmail": "***REDACTED***",
                        "gender": null,
                        "mobile": null,
                        "appkey": null,
                        "email": "***REDACTED***",
                        "memberEncode": "Ko_dVa-rQDrapG2Ymz7pu9eMzlVrFqmi291flsU8oIjeGgX4Fu0CD_Uay04WXJPl@0a152d0a"
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  },
                  "example": {
                    "errcode": "0000",
                    "data": {
                      "id": 56577659601,
                      "nickname": "***REDACTED***",
                      "headpic": null,
                      "bindMobile": "***REDACTED***",
                      "bindEmail": "***REDACTED***",
                      "gender": null,
                      "mobile": null,
                      "appkey": null,
                      "email": "***REDACTED***",
                      "memberEncode": "Ko_dVa-rQDrapG2Ymz7pu9eMzlVrFqmi291flsU8oIjeGgX4Fu0CD_Uay04WXJPl@0a152d0a"
                    },
                    "success": true
                  }
                },
                "example": {
                  "errcode": "0000",
                  "data": {
                    "id": 56577659601,
                    "nickname": "***REDACTED***",
                    "headpic": null,
                    "bindMobile": "***REDACTED***",
                    "bindEmail": "***REDACTED***",
                    "gender": null,
                    "mobile": null,
                    "appkey": null,
                    "email": "***REDACTED***",
                    "memberEncode": "Ko_dVa-rQDrapG2Ymz7pu9eMzlVrFqmi291flsU8oIjeGgX4Fu0CD_Uay04WXJPl@0a152d0a"
                  },
                  "success": true
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mobileOrEmail": {
                    "type": "string",
                    "example": "***REDACTED***"
                  },
                  "password": {
                    "type": "string",
                    "example": "***REDACTED***"
                  },
                  "captchaId": {
                    "type": "string",
                    "example": "***REDACTED***"
                  },
                  "captcha": {
                    "type": "string",
                    "example": "***REDACTED***"
                  }
                },
                "example": {
                  "mobileOrEmail": "***REDACTED***",
                  "password": "***REDACTED***",
                  "captchaId": "***REDACTED***",
                  "captcha": "***REDACTED***"
                }
              },
              "example": {
                "mobileOrEmail": "***REDACTED***",
                "password": "***REDACTED***",
                "captchaId": "***REDACTED***",
                "captcha": "***REDACTED***"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "mobileOrEmail": {
                    "type": "string",
                    "example": "***REDACTED***"
                  },
                  "password": {
                    "type": "string",
                    "example": "***REDACTED***"
                  },
                  "captchaId": {
                    "type": "string",
                    "example": "***REDACTED***"
                  },
                  "captcha": {
                    "type": "string",
                    "example": "***REDACTED***"
                  }
                },
                "example": {
                  "mobileOrEmail": "***REDACTED***",
                  "password": "***REDACTED***",
                  "captchaId": "***REDACTED***",
                  "captcha": "***REDACTED***"
                }
              },
              "example": {
                "mobileOrEmail": "***REDACTED***",
                "password": "***REDACTED***",
                "captchaId": "***REDACTED***",
                "captcha": "***REDACTED***"
              }
            }
          }
        }
      }
    },
    "/ucenter/rest/sendBindMsg.xhtml": {
      "post": {
        "summary": "静态包发现，未在本次抓包中拿到业务说明",
        "tags": [
          "auth"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_spa_static_template"
        ],
        "x-evidence-status": "staticOnly",
        "x-schema-status": "schemaUnknown",
        "x-load-test-level": "Do Not Load Test",
        "x-jmeter-scope": "exclude",
        "x-risk-level": "high",
        "x-verification-status": "static_only",
        "x-recommendation-reason": "仅静态发现且像写操作/副作用接口，先人工确认业务影响。",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/ucenter/rest/sendEmailDynamic.xhtml": {
      "post": {
        "summary": "静态包发现，未在本次抓包中拿到业务说明",
        "tags": [
          "auth"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_spa_static_template"
        ],
        "x-evidence-status": "staticOnly",
        "x-schema-status": "schemaUnknown",
        "x-load-test-level": "Do Not Load Test",
        "x-jmeter-scope": "exclude",
        "x-risk-level": "high",
        "x-verification-status": "static_only",
        "x-recommendation-reason": "仅静态发现且像写操作/副作用接口，先人工确认业务影响。",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/thvendor/ad/getNewAdList.xhtml": {
      "post": {
        "summary": "[crawler] Banner / ad list shown on home + landing pages.",
        "tags": [
          "cms"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_playwright_crawl",
          "legacy_anticket_har",
          "local_wk_endpoints_registry"
        ],
        "x-evidence-status": "observed",
        "x-schema-status": "observedResponseSample",
        "x-load-test-level": "Scenario Ready",
        "x-jmeter-scope": "scenario",
        "x-risk-level": "medium",
        "x-verification-status": "observed",
        "x-recommendation-reason": "已有真实样例但有副作用，应放在受控业务场景中执行。",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "application/json, text/plain, */*"
          },
          {
            "name": "cmpappkey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ShanghaiCS"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "application/x-www-form-urlencoded;charset=UTF-8"
          },
          {
            "name": "lang",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errcode": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 23314
                          },
                          "code": {
                            "type": "string",
                            "example": "AY6FEMRxz2jp"
                          },
                          "title": {
                            "type": "string",
                            "example": "官网LOGO"
                          },
                          "subtitle": {
                            "nullable": true,
                            "example": null
                          },
                          "logoUrl": {
                            "type": "string",
                            "example": "https://imgtest.antank.cn/pic/thvendor/27378d7c253e49c1.png"
                          },
                          "type": {
                            "type": "string",
                            "example": "link"
                          },
                          "targetId": {
                            "nullable": true,
                            "example": null
                          },
                          "targetUrl": {
                            "nullable": true,
                            "example": null
                          },
                          "cityCode": {
                            "nullable": true,
                            "example": null
                          },
                          "cityName": {
                            "nullable": true,
                            "example": null
                          },
                          "ranks": {
                            "type": "integer",
                            "example": 1
                          },
                          "remark": {
                            "nullable": true,
                            "example": null
                          },
                          "adflag": {
                            "type": "string",
                            "example": "PClogo"
                          },
                          "starttime": {
                            "type": "string",
                            "example": "2026-05-13 18:16:41"
                          },
                          "endtime": {
                            "type": "string",
                            "example": "2099-01-01 00:00:00"
                          },
                          "status": {
                            "type": "string",
                            "example": "Y"
                          },
                          "category": {
                            "type": "string",
                            "example": "F"
                          },
                          "otherinfo": {
                            "nullable": true,
                            "example": null
                          },
                          "recommandFlag": {
                            "type": "string",
                            "example": "N"
                          },
                          "publishtime": {
                            "nullable": true,
                            "example": null
                          },
                          "originTypes": {
                            "type": "string",
                            "example": "PC"
                          },
                          "operatorid": {
                            "type": "integer",
                            "example": 63660
                          },
                          "operatorName": {
                            "type": "string",
                            "example": "M+卡里司马"
                          },
                          "description": {
                            "nullable": true,
                            "example": null
                          },
                          "labelLocation": {
                            "nullable": true,
                            "example": null
                          },
                          "labelContent": {
                            "nullable": true,
                            "example": null
                          },
                          "productSource": {
                            "nullable": true,
                            "example": null
                          },
                          "productCode": {
                            "nullable": true,
                            "example": null
                          },
                          "stadiumIds": {
                            "type": "string",
                            "example": ""
                          },
                          "productDetail": {
                            "nullable": true,
                            "example": null
                          },
                          "relatedImgs": {
                            "nullable": true,
                            "example": null
                          },
                          "relatedVideo": {
                            "nullable": true,
                            "example": null
                          },
                          "data": {
                            "nullable": true,
                            "example": null
                          },
                          "localCache": {
                            "type": "boolean",
                            "example": false
                          }
                        },
                        "example": {
                          "id": 23314,
                          "code": "AY6FEMRxz2jp",
                          "title": "官网LOGO",
                          "subtitle": null,
                          "logoUrl": "https://imgtest.antank.cn/pic/thvendor/27378d7c253e49c1.png",
                          "type": "link",
                          "targetId": null,
                          "targetUrl": null,
                          "cityCode": null,
                          "cityName": null,
                          "ranks": 1,
                          "remark": null,
                          "adflag": "PClogo",
                          "starttime": "2026-05-13 18:16:41",
                          "endtime": "2099-01-01 00:00:00",
                          "status": "Y",
                          "category": "F",
                          "otherinfo": null,
                          "recommandFlag": "N",
                          "publishtime": null,
                          "originTypes": "PC",
                          "operatorid": 63660,
                          "operatorName": "M+卡里司马",
                          "description": null,
                          "labelLocation": null,
                          "labelContent": null,
                          "productSource": null,
                          "productCode": null,
                          "stadiumIds": "",
                          "productDetail": null,
                          "relatedImgs": null,
                          "relatedVideo": null,
                          "data": null,
                          "localCache": false
                        }
                      },
                      "example": [
                        {
                          "id": 23314,
                          "code": "AY6FEMRxz2jp",
                          "title": "官网LOGO",
                          "subtitle": null,
                          "logoUrl": "https://imgtest.antank.cn/pic/thvendor/27378d7c253e49c1.png",
                          "type": "link",
                          "targetId": null,
                          "targetUrl": null,
                          "cityCode": null,
                          "cityName": null,
                          "ranks": 1,
                          "remark": null,
                          "adflag": "PClogo",
                          "starttime": "2026-05-13 18:16:41",
                          "endtime": "2099-01-01 00:00:00",
                          "status": "Y",
                          "category": "F",
                          "otherinfo": null,
                          "recommandFlag": "N",
                          "publishtime": null,
                          "originTypes": "PC",
                          "operatorid": 63660,
                          "operatorName": "M+卡里司马",
                          "description": null,
                          "labelLocation": null,
                          "labelContent": null,
                          "productSource": null,
                          "productCode": null,
                          "stadiumIds": "",
                          "productDetail": null,
                          "relatedImgs": null,
                          "relatedVideo": null,
                          "data": null,
                          "localCache": false
                        }
                      ]
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  },
                  "example": {
                    "errcode": "0000",
                    "data": [
                      {
                        "id": 23314,
                        "code": "AY6FEMRxz2jp",
                        "title": "官网LOGO",
                        "subtitle": null,
                        "logoUrl": "https://imgtest.antank.cn/pic/thvendor/27378d7c253e49c1.png",
                        "type": "link",
                        "targetId": null,
                        "targetUrl": null,
                        "cityCode": null,
                        "cityName": null,
                        "ranks": 1,
                        "remark": null,
                        "adflag": "PClogo",
                        "starttime": "2026-05-13 18:16:41",
                        "endtime": "2099-01-01 00:00:00",
                        "status": "Y",
                        "category": "F",
                        "otherinfo": null,
                        "recommandFlag": "N",
                        "publishtime": null,
                        "originTypes": "PC",
                        "operatorid": 63660,
                        "operatorName": "M+卡里司马",
                        "description": null,
                        "labelLocation": null,
                        "labelContent": null,
                        "productSource": null,
                        "productCode": null,
                        "stadiumIds": "",
                        "productDetail": null,
                        "relatedImgs": null,
                        "relatedVideo": null,
                        "data": null,
                        "localCache": false
                      }
                    ],
                    "success": true
                  }
                },
                "example": {
                  "errcode": "0000",
                  "data": [
                    {
                      "id": 23314,
                      "code": "AY6FEMRxz2jp",
                      "title": "官网LOGO",
                      "subtitle": null,
                      "logoUrl": "https://imgtest.antank.cn/pic/thvendor/27378d7c253e49c1.png",
                      "type": "link",
                      "targetId": null,
                      "targetUrl": null,
                      "cityCode": null,
                      "cityName": null,
                      "ranks": 1,
                      "remark": null,
                      "adflag": "PClogo",
                      "starttime": "2026-05-13 18:16:41",
                      "endtime": "2099-01-01 00:00:00",
                      "status": "Y",
                      "category": "F",
                      "otherinfo": null,
                      "recommandFlag": "N",
                      "publishtime": null,
                      "originTypes": "PC",
                      "operatorid": 63660,
                      "operatorName": "M+卡里司马",
                      "description": null,
                      "labelLocation": null,
                      "labelContent": null,
                      "productSource": null,
                      "productCode": null,
                      "stadiumIds": "",
                      "productDetail": null,
                      "relatedImgs": null,
                      "relatedVideo": null,
                      "data": null,
                      "localCache": false
                    }
                  ],
                  "success": true
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "adflag": {
                    "type": "string",
                    "example": "cardlist"
                  },
                  "originType": {
                    "type": "string",
                    "example": "PC"
                  }
                },
                "example": {
                  "adflag": "cardlist",
                  "originType": "PC"
                }
              },
              "example": {
                "adflag": "cardlist",
                "originType": "PC"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "adflag": {
                    "type": "string",
                    "example": "cardlist"
                  },
                  "originType": {
                    "type": "string",
                    "example": "PC"
                  }
                },
                "example": {
                  "adflag": "cardlist",
                  "originType": "PC"
                }
              },
              "example": {
                "adflag": "cardlist",
                "originType": "PC"
              }
            }
          }
        }
      }
    },
    "/thvendor/campaign/getCachedCampaign.xhtml": {
      "post": {
        "summary": "静态包发现，未在本次抓包中拿到业务说明",
        "tags": [
          "cms"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_spa_static_template"
        ],
        "x-evidence-status": "staticOnly",
        "x-schema-status": "schemaUnknown",
        "x-load-test-level": "Do Not Load Test",
        "x-jmeter-scope": "exclude",
        "x-risk-level": "high",
        "x-verification-status": "static_only",
        "x-recommendation-reason": "仅静态发现且像写操作/副作用接口，先人工确认业务影响。",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/thvendor/campaign/getChargeType.xhtml": {
      "post": {
        "summary": "静态包发现，未在本次抓包中拿到业务说明",
        "tags": [
          "cms"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_spa_static_template"
        ],
        "x-evidence-status": "staticOnly",
        "x-schema-status": "schemaUnknown",
        "x-load-test-level": "Do Not Load Test",
        "x-jmeter-scope": "exclude",
        "x-risk-level": "high",
        "x-verification-status": "static_only",
        "x-recommendation-reason": "仅静态发现且像写操作/副作用接口，先人工确认业务影响。",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "example": null
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/thvendor/campaign/listCachedCampaign.xhtml": {
      "get": {
        "summary": "[crawler] Cached campaign list (homepage).",
        "tags": [
          "cms"
        ],
        "x-auth-required": false,
        "x-source": [
          "current_playwright_crawl",
          "local_wk_endpoints_registry"
        ],
        "x-evidence-status": "observed",
        "x-schema-status": "observedResponseSample",
        "x-load-test-level": "Ready",
        "x-jmeter-scope": "single_api",
        "x-risk-level": "low",
        "x-verification-status": "observed",
        "x-recommendation-reason": "已有真实抓包样例，且看起来是查询类接口，适合作为单接口压测候选。",
        "parameters": [
          {
            "name": "cmpappkey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ShanghaiCS"
          },
          {
            "name": "lang",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "application/json, text/plain, */*"
          }
        ],
        "responses": {
          "200": {
            "description": "Observed or expected successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errcode": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 61
                          },
                          "name": {
                            "type": "string",
                            "example": "Points (No Review Required)"
                          },
                          "addressType": {
                            "type": "string",
                            "example": "stadium"
                          },
                          "stadiumId": {
                            "type": "integer",
                            "example": 69674
                          },
                          "stadiumName": {
                            "type": "string",
                            "example": "M+ Museum"
                          },
                          "venueId": {
                            "type": "integer",
                            "example": 1459
                          },
                          "venueName": {
                            "type": "string",
                            "example": "Grand Stair"
                          },
                          "chargeType": {
                            "type": "string",
                            "example": "point"
                          },
                          "chargeAmount": {
                            "type": "number",
                            "example": 1.0
                          },
                          "agencyId": {
                            "nullable": true,
                            "example": null
                          },
                          "agencyName": {
                            "nullable": true,
                            "example": null
                          },
                          "agencyAddress": {
                            "nullable": true,
                            "example": null
                          },
                          "verified": {
                            "type": "string",
                            "example": "N"
                          },
                          "noShow": {
                            "type": "string",
                            "example": "N"
                          },
                          "noShowCycle": {
                            "nullable": true,
                            "example": null
                          },
                          "noShowTime": {
                            "nullable": true,
                            "example": null
                          },
                          "orderReserveMax": {
                            "type": "integer",
                            "example": 20
                          },
                          "memberReserveMax": {
                            "type": "integer",
                            "example": 20
                          },
                          "dynamicFieldId": {
                            "nullable": true,
                            "example": null
                          },
                          "auditStatus": {
                            "type": "string",
                            "example": "pass"
                          },
                          "status": {
                            "type": "string",
                            "example": "Y"
                          },
                          "displayType": {
                            "type": "string",
                            "example": "Y"
                          },
                          "coverPoster": {
                            "type": "string",
                            "example": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg"
                          },
                          "horizontalPoster": {
                            "type": "string",
                            "example": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg"
                          },
                          "verticalPoster": {
                            "type": "string",
                            "example": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg"
                          },
                          "otherPoster": {
                            "type": "string",
                            "example": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg"
                          },
                          "formStatus": {
                            "type": "string",
                            "example": "N"
                          },
                          "dynamicForm": {
                            "nullable": true,
                            "example": null
                          },
                          "invitationLimit": {
                            "nullable": true,
                            "example": null
                          },
                          "displayOrder": {
                            "type": "integer",
                            "example": 999
                          },
                          "activityIntroduction": {
                            "type": "string",
                            "example": "<p>VVVVVVVV</p>\n<p><img src=\"https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg\" /></p>"
                          },
                          "activityNotice": {
                            "type": "string",
                            "example": "<p>一句话特别GV发</p>"
                          },
                          "participationNotice": {
                            "type": "string",
                            "example": "<p>横幅的</p>"
                          },
                          "addUserId": {
                            "type": "integer",
                            "example": 63660
                          },
                          "addUserName": {
                            "type": "string",
                            "example": "M+卡里司马"
                          },
                          "updateUserId": {
                            "type": "integer",
                            "example": 63660
                          },
                          "updateUserName": {
                            "type": "string",
                            "example": "M+卡里司马"
                          },
                          "addUserGroupId": {
                            "type": "integer",
                            "example": 56768
                          },
                          "updateUserGroupId": {
                            "type": "integer",
                            "example": 56768
                          },
                          "periodList": {
                            "nullable": true,
                            "example": null
                          },
                          "starttime": {
                            "type": "string",
                            "example": "2026-06-01 00:00:00"
                          },
                          "endtime": {
                            "type": "string",
                            "example": "2026-07-31 00:00:00"
                          },
                          "addtime": {
                            "type": "string",
                            "example": "2026-05-11 16:04:24"
                          },
                          "updatetime": {
                            "type": "string",
                            "example": "2026-06-01 10:59:09"
                          },
                          "labelIds": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "example": 35
                            },
                            "example": [
                              35
                            ]
                          },
                          "stockSum": {
                            "type": "integer",
                            "example": 20
                          },
                          "useSum": {
                            "type": "integer",
                            "example": 7
                          },
                          "favoritesTotal": {
                            "type": "integer",
                            "example": 1
                          }
                        },
                        "example": {
                          "id": 61,
                          "name": "Points (No Review Required)",
                          "addressType": "stadium",
                          "stadiumId": 69674,
                          "stadiumName": "M+ Museum",
                          "venueId": 1459,
                          "venueName": "Grand Stair",
                          "chargeType": "point",
                          "chargeAmount": 1.0,
                          "agencyId": null,
                          "agencyName": null,
                          "agencyAddress": null,
                          "verified": "N",
                          "noShow": "N",
                          "noShowCycle": null,
                          "noShowTime": null,
                          "orderReserveMax": 20,
                          "memberReserveMax": 20,
                          "dynamicFieldId": null,
                          "auditStatus": "pass",
                          "status": "Y",
                          "displayType": "Y",
                          "coverPoster": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg",
                          "horizontalPoster": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg",
                          "verticalPoster": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg",
                          "otherPoster": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg",
                          "formStatus": "N",
                          "dynamicForm": null,
                          "invitationLimit": null,
                          "displayOrder": 999,
                          "activityIntroduction": "<p>VVVVVVVV</p>\n<p><img src=\"https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg\" /></p>",
                          "activityNotice": "<p>一句话特别GV发</p>",
                          "participationNotice": "<p>横幅的</p>",
                          "addUserId": 63660,
                          "addUserName": "M+卡里司马",
                          "updateUserId": 63660,
                          "updateUserName": "M+卡里司马",
                          "addUserGroupId": 56768,
                          "updateUserGroupId": 56768,
                          "periodList": null,
                          "starttime": "2026-06-01 00:00:00",
                          "endtime": "2026-07-31 00:00:00",
                          "addtime": "2026-05-11 16:04:24",
                          "updatetime": "2026-06-01 10:59:09",
                          "labelIds": [
                            35
                          ],
                          "stockSum": 20,
                          "useSum": 7,
                          "favoritesTotal": 1
                        }
                      },
                      "example": [
                        {
                          "id": 61,
                          "name": "Points (No Review Required)",
                          "addressType": "stadium",
                          "stadiumId": 69674,
                          "stadiumName": "M+ Museum",
                          "venueId": 1459,
                          "venueName": "Grand Stair",
                          "chargeType": "point",
                          "chargeAmount": 1.0,
                          "agencyId": null,
                          "agencyName": null,
                          "agencyAddress": null,
                          "verified": "N",
                          "noShow": "N",
                          "noShowCycle": null,
                          "noShowTime": null,
                          "orderReserveMax": 20,
                          "memberReserveMax": 20,
                          "dynamicFieldId": null,
                          "auditStatus": "pass",
                          "status": "Y",
                          "displayType": "Y",
                          "coverPoster": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg",
                          "horizontalPoster": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg",
                          "verticalPoster": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg",
                          "otherPoster": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg",
                          "formStatus": "N",
                          "dynamicForm": null,
                          "invitationLimit": null,
                          "displayOrder": 999,
                          "activityIntroduction": "<p>VVVVVVVV</p>\n<p><img src=\"https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg\" /></p>",
                          "activityNotice": "<p>一句话特别GV发</p>",
                          "participationNotice": "<p>横幅的</p>",
                          "addUserId": 63660,
                          "addUserName": "M+卡里司马",
                          "updateUserId": 63660,
                          "updateUserName": "M+卡里司马",
                          "addUserGroupId": 56768,
                          "updateUserGroupId": 56768,
                          "periodList": null,
                          "starttime": "2026-06-01 00:00:00",
                          "endtime": "2026-07-31 00:00:00",
                          "addtime": "2026-05-11 16:04:24",
                          "updatetime": "2026-06-01 10:59:09",
                          "labelIds": [
                            35
                          ],
                          "stockSum": 20,
                          "useSum": 7,
                          "favoritesTotal": 1
                        },
                        {
                          "id": 72,
                          "name": "UDUDH",
                          "addressType": "stadium",
                          "stadiumId": 69632,
                          "stadiumName": "M+ Concert",
                          "venueId": 1362,
                          "venueName": "M+ Concert Hall",
                          "chargeType": "free",
                          "chargeAmount": null,
                          "agencyId": null,
                          "agencyName": null,
                          "agencyAddress": null,
                          "verified": "N",
                          "noShow": "Y",
                          "noShowCycle": "1",
                          "noShowTime": 1,
                          "orderReserveMax": 60,
                          "memberReserveMax": 60,
                          "dynamicFieldId": null,
                          "auditStatus": "pass",
                          "status": "Y",
                          "displayType": "Y",
                          "coverPoster": "https://imgtest.antank.cn/pic/theatre/c3dff7d59a314ab2.png",
                          "horizontalPoster": "https://imgtest.antank.cn/pic/theatre/c3dff7d59a314ab2.png",
                          "verticalPoster": "https://imgtest.antank.cn/pic/theatre/c3dff7d59a314ab2.png",
                          "otherPoster": "https://imgtest.antank.cn/pic/theatre/c3dff7d59a314ab2.png",
                          "formStatus": "N",
                          "dynamicForm": null,
                          "invitationLimit": null,
                          "displayOrder": 999,
                          "activityIntroduction": "<p>CSIDHEFUI&nbsp;</p>",
                          "activityNotice": null,
                          "participationNotice": null,
                          "addUserId": 63660,
                          "addUserName": "M+卡里司马",
                          "updateUserId": 63660,
                          "updateUserName": "M+卡里司马",
                          "addUserGroupId": 56768,
                          "updateUserGroupId": 56768,
                          "periodList": null,
                          "starttime": "2026-06-01 00:00:00",
                          "endtime": "2026-07-31 00:00:00",
                          "addtime": "2026-06-12 17:44:37",
                          "updatetime": "2026-06-12 17:45:21",
                          "labelIds": [],
                          "stockSum": 20,
                          "useSum": 2,
                          "favoritesTotal": 0
                        }
                      ]
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  },
                  "example": {
                    "errcode": "0000",
                    "data": [
                      {
                        "id": 61,
                        "name": "Points (No Review Required)",
                        "addressType": "stadium",
                        "stadiumId": 69674,
                        "stadiumName": "M+ Museum",
                        "venueId": 1459,
                        "venueName": "Grand Stair",
                        "chargeType": "point",
                        "chargeAmount": 1.0,
                        "agencyId": null,
                        "agencyName": null,
                        "agencyAddress": null,
                        "verified": "N",
                        "noShow": "N",
                        "noShowCycle": null,
                        "noShowTime": null,
                        "orderReserveMax": 20,
                        "memberReserveMax": 20,
                        "dynamicFieldId": null,
                        "auditStatus": "pass",
                        "status": "Y",
                        "displayType": "Y",
                        "coverPoster": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg",
                        "horizontalPoster": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg",
                        "verticalPoster": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg",
                        "otherPoster": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg",
                        "formStatus": "N",
                        "dynamicForm": null,
                        "invitationLimit": null,
                        "displayOrder": 999,
                        "activityIntroduction": "<p>VVVVVVVV</p>\n<p><img src=\"https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg\" /></p>",
                        "activityNotice": "<p>一句话特别GV发</p>",
                        "participationNotice": "<p>横幅的</p>",
                        "addUserId": 63660,
                        "addUserName": "M+卡里司马",
                        "updateUserId": 63660,
                        "updateUserName": "M+卡里司马",
                        "addUserGroupId": 56768,
                        "updateUserGroupId": 56768,
                        "periodList": null,
                        "starttime": "2026-06-01 00:00:00",
                        "endtime": "2026-07-31 00:00:00",
                        "addtime": "2026-05-11 16:04:24",
                        "updatetime": "2026-06-01 10:59:09",
                        "labelIds": [
                          35
                        ],
                        "stockSum": 20,
                        "useSum": 7,
                        "favoritesTotal": 1
                      },
                      {
                        "id": 72,
                        "name": "UDUDH",
                        "addressType": "stadium",
                        "stadiumId": 69632,
                        "stadiumName": "M+ Concert",
                        "venueId": 1362,
                        "venueName": "M+ Concert Hall",
                        "chargeType": "free",
                        "chargeAmount": null,
                        "agencyId": null,
                        "agencyName": null,
                        "agencyAddress": null,
                        "verified": "N",
                        "noShow": "Y",
                        "noShowCycle": "1",
                        "noShowTime": 1,
                        "orderReserveMax": 60,
                        "memberReserveMax": 60,
                        "dynamicFieldId": null,
                        "auditStatus": "pass",
                        "status": "Y",
                        "displayType": "Y",
                        "coverPoster": "https://imgtest.antank.cn/pic/theatre/c3dff7d59a314ab2.png",
                        "horizontalPoster": "https://imgtest.antank.cn/pic/theatre/c3dff7d59a314ab2.png",
                        "verticalPoster": "https://imgtest.antank.cn/pic/theatre/c3dff7d59a314ab2.png",
                        "otherPoster": "https://imgtest.antank.cn/pic/theatre/c3dff7d59a314ab2.png",
                        "formStatus": "N",
                        "dynamicForm": null,
                        "invitationLimit": null,
                        "displayOrder": 999,
                        "activityIntroduction": "<p>CSIDHEFUI&nbsp;</p>",
                        "activityNotice": null,
                        "participationNotice": null,
                        "addUserId": 63660,
                        "addUserName": "M+卡里司马",
                        "updateUserId": 63660,
                        "updateUserName": "M+卡里司马",
                        "addUserGroupId": 56768,
                        "updateUserGroupId": 56768,
                        "periodList": null,
                        "starttime": "2026-06-01 00:00:00",
                        "endtime": "2026-07-31 00:00:00",
                        "addtime": "2026-06-12 17:44:37",
                        "updatetime": "2026-06-12 17:45:21",
                        "labelIds": [],
                        "stockSum": 20,
                        "useSum": 2,
                        "favoritesTotal": 0
                      }
                    ],
                    "success": true
                  }
                },
                "example": {
                  "errcode": "0000",
                  "data": [
                    {
                      "id": 61,
                      "name": "Points (No Review Required)",
                      "addressType": "stadium",
                      "stadiumId": 69674,
                      "stadiumName": "M+ Museum",
                      "venueId": 1459,
                      "venueName": "Grand Stair",
                      "chargeType": "point",
                      "chargeAmount": 1.0,
                      "agencyId": null,
                      "agencyName": null,
                      "agencyAddress": null,
                      "verified": "N",
                      "noShow": "N",
                      "noShowCycle": null,
                      "noShowTime": null,
                      "orderReserveMax": 20,
                      "memberReserveMax": 20,
                      "dynamicFieldId": null,
                      "auditStatus": "pass",
                      "status": "Y",
                      "displayType": "Y",
                      "coverPoster": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg",
                      "horizontalPoster": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg",
                      "verticalPoster": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg",
                      "otherPoster": "https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg",
                      "formStatus": "N",
                      "dynamicForm": null,
                      "invitationLimit": null,
                      "displayOrder": 999,
                      "activityIntroduction": "<p>VVVVVVVV</p>\n<p><img src=\"https://imgtest.antank.cn/pic/thvendor/f2c57b85f6051cf9.jpg\" /></p>",
                      "activityNotice": "<p>一句话特别GV发</p>",
                      "participationNotice": "<p>横幅的</p>",
                      "addUserId": 63660,
                      "addUserName": "M+卡里司马",
                      "updateUserId": 63660,
                      "updateUserName": "M+卡里司马",
                      "addUserGroupId": 56768,
                      "updateUserGroupId": 56768,
                      "periodList": null,
                      "starttime": "2026-06-01 00:00:00",
                      "endtime": "2026-07-31 00:00:00",
[...]
